click==8.0.1
dataclasses==0.8
Flask==2.0.1
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
-e git+https://github.com/tensho9408/norilog.git@189cb81969bb518d6010349c792493c5d9a7d7ce#egg=norilog
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
